doctype html
html
  head
    link(href='main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
  body
    .container
      .content
        .section
          h1 This is the homepage of Lisa Zhang.


        .section
          h2 Me In a Nutshell

          span(style="float:right")
            img(src="lisa.png", width="170px", style="margin:0px 0px 10px 10px")

          p.
            I am
            currently an Assistant Professor, Teaching Stream (CLTA) at the
            Department of Mathematical & Computational Sciences,
            University of Toronto Mississauga.
            My office is located at DH3078.
          p.
            I held many roles during my career: startup founder,
            data scientist, machine learning researcher, pure math student,
            and now a computer science teacher.
            I am passionate about machine learning, teaching education, 
            writing, and still have a soft spot for great data visualization
            and nerdy humour.
          p.
            My current research interest is in the intersection of Computer Science Education
            and Machine Learning. More specifically, I am interested in using
            Machine Learning techniques to understand student code.

        .section
          h2 Current Teaching

          ul
            li
              a(href="https://www.cs.toronto.edu/~lczhang/324/", target="_blank") CSC324 Programming Languages
              |  Fall 2019, University of Toronto Mississauga
            li
              a(href="https://www.cs.toronto.edu/~lczhang/290/", target="_blank") CSC290 Communication Skills for Computer Science
              |  Fall 2019, University of Toronto Mississauga


          h2 Previous Teaching

          ul
            li
              a(href="https://www.cs.toronto.edu/~lczhang/360/", target="_blank") APS360 Fundamentals of AI
              |  Summer 2019, University of Toronto
            li
              a(href="https://www.cs.toronto.edu/~lczhang/csc290_20191/", target="_blank") CSC290 Communication Skills for Computer Science
              |  Winter 2019, University of Toronto Mississauga
            li
              a(href="https://www.cs.toronto.edu/~lczhang/338/", target="_blank") CSC338 Numerical Methods
              |  Winter 2019, University of Toronto Mississauga
            li
              a(href="https://www.cs.toronto.edu/~lczhang/aps360_20191/", target="_blank") APS360 Fundamentals of AI
              |  Winter 2019, University of Toronto
            li
              u CSC324 Programming Languages
              |  Fall 2018, University of Toronto Mississauga
              |  (with
              |  
              a(href="http://www.danielzingaro.com/", target="_blank") Daniel Zingaro
              | )

            li
              a(href="https://www.cs.toronto.edu/~lczhang/csc290_20189/", target="_blank") CSC290 Communication Skills for Computer Science
              |  Fall 2018, University of Toronto Mississauga

            li
              u CSC108 Introduction to Programming
              |  Summer 2018, University of Toronto
              |  (with Mark Kazakevich)

            li
              a(href="http://www.teach.cs.toronto.edu/~csc411h/winter/", target="_blank") CSC411/2515 Introduction to Machine Learning
              |  Winter 2018, University of Toronto
              |  (with
              |  
              a(href="http://www.cs.toronto.edu/~guerzhoy/", target="_blank") Michael Guerzhoy
              | )

        //
            .section
              h2 Bragging Bio

              p
                span I had a recent
                |  
                a(href="https://papers.nips.cc/paper/7445-neural-guided-constraint-logic-programming-for-program-synthesis") publication
                |  
                span NeurIPS 2018.

              p
                | I 
                a(href='https://spark-summit.org/east-2016/events/using-graphx-pregel-on-browsing-history-to-discover-purchase-intent/', target='_blank') gave a talk
                | at the Spark Summit East 2016 conference in New York.

              p.
                In 2011, I founded a startup, Polychart. In 2012, I rejected an
                (non-trivial) acquisition offer,
                instead opting for a break-up of the entire
                team.  In 2013, with a re-built team, we were one of five companies
                in the ExtremeStartups accelerator. In late 2013 Polychart
                was open sourced.
              p
                span.
                  While studying pure math at University of Waterloo,
                  I scored 33 points on the Putnam math contest (where median score
                  is 0 most years).&nbsp;
                span.
                  Sixteen (16) months of my undergrad was spent in California on
                  internships at companies Facebook, ContextLogic (Wish), and Tagged.
                  I&nbsp;
                a(href='https://www.facebook.com/notes/facebook-data-team/whats-on-your-mind/477517358858', target='_blank') wrote on the Facebook Data Science blog.


              p
                span.
                  A 
                a(href='http://www.lisazhang.ca/2009/12/elevator-algorithms.html', target='_blank').
                  few 
                a(href='http://www.lisazhang.ca/2010/12/things-i-learned.html', target='_blank').
                 blog 
                a(href='http://www.lisazhang.ca/2011/12/galois-theory-in-1500-words.html', target='_blank').
                 posts 
                span.
                  that I wrote have gone on the front page of Hacker News.

        //
            .section
              h2 Talks and Workshops
              p
                span
                  b.
                    Spark Summit East (February 2016)&nbsp;
                span
                  a(href='https://spark-summit.org/east-2016/events/using-graphx-pregel-on-browsing-history-to-discover-purchase-intent/', target='_blank').
                    Using GraphX/Pregel on Browsing History to Discover Purchase Intent

              p
                span
                  b.
                    Data Visualization Workshop, Huymber College (December 2014).
                span.
                  &nbsp;
                  An 8-hour data visualization workshop for students in the Research
                  Analyst post-graduate program



        .section
          h2 Publications

          h3 First-order miniKanren representation: Great for tooling and search
          p.tight
              span Gregory Rosenblatt, Lisa Zhang, William E. Byrd, Matthew Might
              br
              i ICFP miniKanren Workshop 2019
              |  
              span [
              a(href="http://minikanren.org/workshop/2019/minikanren19-final2.pdf") paper
              span ]


          h3 Experience Report: Mini Guest Lectures in a CS1 Course via Video Conferencing
          p.tight
              span Lisa Zhang, Michelle Craig, Mark Kazakevich, Joseph Jay Williams
              br
              i CompEd 2019
              |  
              span [
              a(href="https://dl.acm.org/citation.cfm?id=3309511") paper
              span ]

          h3 Model AI Assignments: Building a Fake News Detector
          p.tight
              span Michael Guerzhoy, Lisa Zhang
              br
              i EAAI 2019
              |  
              span [
              a(href="http://modelai.gettysburg.edu/2019/fakenews/") repository
              span ]


          h3 Neural Guided Constraint Logic Programming for Program Synthesis
          p.tight
              span Lisa Zhang, Gregory Rosenblatt, Ethan Fetaya, Renjie Liao, William E. Byrd, Matthew Might, Raquel Urtasun, Richard Zemel
              br
              i NeurIPS 2018
              |  
              span [
              a(href="https://papers.nips.cc/paper/7445-neural-guided-constraint-logic-programming-for-program-synthesis") paper
              span ]
              |  
              span [
              a(href="https://github.com/xuexue/neural-guided-minikanren") github
              span ]
              |  
              span [
              a(href="https://openreview.net/forum?id=HJIHtIJvz") workshop
              span ]



          h3 MSC Thesis
          p.tight
              span Leveraging Constraint Logic Programming for Neural Network Guided Program Synthesis
              br
              span Supervisors: Richard Zemel, Raquel Urtasun
              br
              span [
              a(href="http://lisazhang.ca/msc_thesis.pdf") paper
              ]


          h3 Reviving and Improving Recurrent Back-Propagation

          p.tight
              span Renjie Liao, Yuwen Xiong, Ethan Fetaya, Lisa Zhang, KiJung Yoon, Xaq Pitkow, Raquel Urtasun, Richard Zemel
              br
              i ICML 2018
              |  
              span [
              a(href="https://arxiv.org/abs/1803.06396") arxiv
              span ]

          h3 Inference in probabilistic graphical models by Graph Neural Networks
          p.tight
              span KiJung Yoon, Renjie Liao, Yuwen Xiong, Lisa Zhang, Ethan Fetaya, Raquel Urtasun, Richard Zemel, Xaq Pitkow
              br
              i ICLR Workshop Track 2018
              |  
              span [
              a(href="https://openreview.net/forum?id=rkN1pF1vz") paper
              span ]

          h3 Learning deep structured active contours end-to-end
          p.tight
              span Diego Marcos, Devis Tuia, Benjamin Kellenberger, Lisa Zhang, Min Bai, Renjie Liao, Raquel Urtasun
              br
              i CVPR 2018
              |  
              span [
              a(href="https://arxiv.org/abs/1803.06329") arxiv
              span ]

        .section
          h2 Invited Talks

          h3 Using GraphX and Pregel on Browsing History to Discover Purchase Intent
          p.tight
              span Lisa Zhang
              br
              i Spark Summit East 2016
              |  
              span [
              a(href='https://spark-summit.org/east-2016/events/using-graphx-pregel-on-browsing-history-to-discover-purchase-intent/', target='_blank') link
              span ]



        .section
          h2 Old Projects

          p
            b
              a(href='http://www.tinyepiphany.com/', target='_blank').
                Tiny Epiphany
            span :&nbsp;
            span.
              This is my blog, formerly known as "A Notebook".
              I write about whatever comes to mind, technical
              and not.

          p
            b
              a(href='http://github.com/Polychart/builder', target='_blank').
                Polychart
            span :&nbsp;
            span.
              Data visualization software that connects directly
              to your database, and helps you explore the data
              using drag-and-drop.

          p
            b
              a(href='https://github.com/Polychart/polychart2', target='_blank').
                Polychart.JS
            span :&nbsp;
            span.
              JavaScript library built on top of RaphaelJS.
              My take on the Grammar of Graphics and how to
              handle interactions. The way data transformations
              are handled are interesting here too.

          p
            b
              a(href='http://resume.lisazhang.ca/', target='_blank').
                My Resume
            span :&nbsp;
            span.
              Slightly more structured overview of what I did.

            //
              span.
                Because you haven't read enough about me in this page already.

          p
            b
              a(href='http://www.dataincolour.com/', target='_blank').
                Data In Colour
            span :&nbsp;
            span.
              A now defunct data (visualization) blog.
              I keep it up there still to keep links alive.
              I bought both domains
            span &nbsp;
            a(href='http://www.dataincolour.com/', target='_blank').
              dataincolour.com
            span &nbsp; and &nbsp;
            a(href='http://www.dataincolor.com/', target='_blank').
              dataincolor.com
            span &nbsp;
            span because I am Canadian.


          //
              p
                b
                  a(href='http://secret.tinyepiphany.com/', target='_blank').
                    Secret Comic
                span :&nbsp;
                span.
                  Late 2013, I was deep in a quarter-life crisis and 
                  drew some comics. Didn't tell anyone about it so keep
                  it a secret.


        .section
          h2 Contact

          p.
            You can email me at lczhang [at] cs [dot] toronto [dot] edu.
            If you are emailing me regarding a course, please include the
            course code in the email subject. Please mention if you are a
            current or past student.

          //
              p
                span Alternatively, you can tweet to me at&nbsp;
                a(href='http://twitter.com/lisaczhang', target='_blank') @lisaczhang
                span &nbsp;.

      //
          .footer
            span.
              This is the footer. It is here to tell you that you have reached the
              bottom of the page.
            br
            span.
               My name is Lisa Zhang. Last updated August, 2018.
