doctype html
html
  head
    link(href='main.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
  body
    .container
      .content
        .section
          h1 This is the homepage of Lisa Zhang.


        .section
          h2 Me In a Nutshell
          p.
            I am
            currently an Assistant Professor, Teaching Stream (CLTA) at the
            Department of Mathematical & Computational Sciences,
            University of Toronto Mississauga.
            My office is located at DH3068.
          p.
            I held many roles during my carrer: startup founder,
            data scientist, machine learning researcher, pure math student,
            and now a computer science teacher.
            I am passionate about machine learning, teaching education, 
            writing, and still have a soft spot for great data visualization
            and nerdy humour.

        .section
          h2 Current Teaching
          p
            a(href="https://www.cs.toronto.edu/~lczhang/290/", target="_blank") CSC290 Communication Skills for Computer Science
          p
            a(href="https://mcs.utm.utoronto.ca/~324/", target="_blank") CSC324 Programming Languages


        .section
          h2 Previous Teaching
          p
            a(href="http://www.teach.cs.toronto.edu/~csc108h/summer/", target="_blank") CSC108 Introduction to Programming
            span &nbsp;Summer 2018, University of Toronto

          p
            a(href="http://www.teach.cs.toronto.edu/~csc411h/winter/", target="_blank") CSC411 Introduction to Machine Learning
            span &nbsp;Winter 2018, University of Toronto


        .section
          h2 Bragging Bio

          p
            span.
              I 
            a(href='https://spark-summit.org/east-2016/events/using-graphx-pregel-on-browsing-history-to-discover-purchase-intent/', target='_blank').
              gave a talk
            span.
              &nbsp;at the Spark Summit East 2016 conference in New York.

          p
            span I&nbsp;
            a(href='http://www.donorschoose.org/hacking-education-winners', target='_blank') won
            span &nbsp;things.
          p.
            In 2011, I founded a startup, Polychart. In 2012, I rejected an
            (non-trivial) acquisition offer,
            instead opting for a break-up of the entire
            team.  In 2013, with a re-built team, we were one of five companies
            in the ExtremeStartups accelerator. In late 2013 Polychart
            was open sourced.
          p
            span.
              While studying pure math at University of Waterloo,
              I scored 33 points on the Putnam math contest (where median score
              is 0 most years).&nbsp;
            span.
              Sixteen (16) months of my undergrad was spent in California on
              internships at companies Facebook, ContextLogic (Wish), and Tagged.
              I&nbsp;
            a(href='https://www.facebook.com/notes/facebook-data-team/whats-on-your-mind/477517358858', target='_blank') wrote on the Facebook Data Science blog.


          p
            span.
              A 
            a(href='http://www.lisazhang.ca/2009/12/elevator-algorithms.html', target='_blank').
              few 
            a(href='http://www.lisazhang.ca/2010/12/things-i-learned.html', target='_blank').
             blog 
            a(href='http://www.lisazhang.ca/2011/12/galois-theory-in-1500-words.html', target='_blank').
             posts 
            span.
              that I wrote have gone on the front page of Hacker News.

        //
            .section
              h2 Talks and Workshops
              p
                span
                  b.
                    Spark Summit East (February 2016)&nbsp;
                span
                  a(href='https://spark-summit.org/east-2016/events/using-graphx-pregel-on-browsing-history-to-discover-purchase-intent/', target='_blank').
                    Using GraphX/Pregel on Browsing History to Discover Purchase Intent

              p
                span
                  b.
                    Data Visualization Workshop, Huymber College (December 2014).
                span.
                  &nbsp;
                  An 8-hour data visualization workshop for students in the Research
                  Analyst post-graduate program


        .section
          h2 Links, Projects, Things.

          p
            b
              a(href='http://www.tinyepiphany.com/', target='_blank').
                Tiny Epiphany
            span :&nbsp;
            span.
              This is my blog, formerly known as "A Notebook".
              I write about whatever comes to mind, technical
              and not.

          p
            b
              a(href='http://github.com/Polychart/builder', target='_blank').
                Polychart
            span :&nbsp;
            span.
              Data visualization software that connects directly
              to your database, and helps you explore the data
              using drag-and-drop.

          p
            b
              a(href='https://github.com/Polychart/polychart2', target='_blank').
                Polychart.JS
            span :&nbsp;
            span.
              JavaScript library built on top of RaphaelJS.
              My take on the Grammar of Graphics and how to
              handle interactions. The way data transformations
              are handled are interesting here too.

          p
            b
              a(href='http://resume.lisazhang.ca/', target='_blank').
                My Resume
            span :&nbsp;
            span.
              Slightly more structured overview of what I did.

            //
              span.
                Because you haven't read enough about me in this page already.

          p
            b
              a(href='http://www.dataincolour.com/', target='_blank').
                Data In Colour
            span :&nbsp;
            span.
              A now defunct data (visualization) blog.
              I keep it up there still to keep links alive.
              I bought both domains
            span &nbsp;
            a(href='http://www.dataincolour.com/', target='_blank').
              dataincolour.com
            span &nbsp; and &nbsp;
            a(href='http://www.dataincolor.com/', target='_blank').
              dataincolor.com
            span &nbsp;
            span because I am Canadian.


          //
              p
                b
                  a(href='http://secret.tinyepiphany.com/', target='_blank').
                    Secret Comic
                span :&nbsp;
                span.
                  Late 2013, I was deep in a quarter-life crisis and 
                  drew some comics. Didn't tell anyone about it so keep
                  it a secret.

        .section
          h2 Contact

          p.
            You can email me at lczhang [at] cs [dot] toronto [dot] edu.
            If you are emailing me regarding a course, please include the
            course code in the email subject. Please mention if you are a
            current or past student.

          //
              p
                span Alternatively, you can tweet to me at&nbsp;
                a(href='http://twitter.com/lisaczhang', target='_blank') @lisaczhang
                span &nbsp;.

      //
          .footer
            span.
              This is the footer. It is here to tell you that you have reached the
              bottom of the page.
            br
            span.
               My name is Lisa Zhang. Last updated August, 2018.
